@use "../utils" as ut;

html {
   font-size: 100%;
   box-sizing: border-box;
}

*,
*::after,
*::before {
   padding: 0;
   margin: 0;
   box-sizing: inherit;
}

body {
   width: ut.rem(375);
   font-size: ut.rem(32);
   font-family: "League Spartan", sans-serif;
   padding: ut.rem(16);

   &.theme-one {
      background-color: ut.$main-bg;
      color: ut.$text-cl-white;
   }

   &.theme-two {
      background-color: ut.$main-bg-gray;
      color: ut.$dark-grayish-yellow;
   }

   &.theme-three {
      background-color: ut.$main-bg-violet;
      color: ut.$light-yellow;
   }
}
